@model DevCollab.Models.Category

@{
    ViewBag.Title = "Categoria";
}

<h2 id="h-categ">@ViewBag.Title @Model.CategoryName</h2>

<br />
<a id="buton" class="btn btn-secondary" href="/Categories/Index/">Înapoi la categorii</a>
<br /> <br />

<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Caută subiecte sau răspunsuri" name="search" value="@ViewBag.SearchString">
        <button id="buton2" class="btn btn-outline-secondary" type="submit">Caută</button>
    </div>
</form>

<br />

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" id="page-nr"
                   href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item">
                    <a class="page-link" id="page-nr"
                       href="@ViewBag.PaginationBaseUrl=@i">@(i)</a>
                </li>
            }

            <li class="page-item">
                <a class="page-link" id="page-nr"
                   href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" arialabel="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<br />
<br />

@if (ViewBag.Message != null)
{
    <h2 id="succes-msg">@ViewBag.Message</h2>
}
@foreach (DevCollab.Models.Subject subject in ViewBag.Subjects)
{
    @if (subject.Category.Id == Model.Id)
    {
        <div class="card">

            @Html.Partial("SubjectInfo", subject)

            <a id="buton2" class="btn btn-secondary" href="/Subjects/Show/@subject.Id">Afișare subiect</a>
        </div>
        <br />
        <br />
    }
}

<br />
<hr />
<br />