@model DevCollab.Models.Category

@{
    ViewBag.Title = "Categoria";
}

<h2 id="h-categ">@ViewBag.Title @Model.CategoryName</h2>

<br />

<br />
<a id="buton" class="btn alert-secondary" href="/Categories/Index/">Înapoi la categorii</a>
<br />
<br />
<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link"
                   href="/Categories/Show/@Model.Id/?page=1" aria-label="Previous" id="prev-page">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item">
                    <a class="page-link" id="page-nr"
                       href="/Categories/Show/@Model.Id/?page=@i">@(i)</a>
                </li>
            }

            <li class="page-item">
                <a class="page-link"
                   href="/Categories/Show/@Model.Id/?page=@(ViewBag.lastPage)" arialabel="Next" id="next-page">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<br />
<br />

@if (ViewBag.Message != null)
{
    <h2 id="succes-msg">@ViewBag.Message</h2>
}
@foreach (DevCollab.Models.Subject subject in ViewBag.Subjects)
{
    @if (subject.Category.Id == Model.Id)
    {
        <div class="card">

            @Html.Partial("SubjectInfo", subject)

            <a id="buton2" class="btn btn-secondary" href="/Subjects/Show/@subject.Id">Afișare subiect</a>
        </div>
        <br />
        <br />
    }
}

<br />
<hr />
<br />